  <section id="page-wrapper">
    <div id="sections">
      <p>
        <a href="https://github.com/fastruby/skunk.fyi" title="Skunk.fyi" target="_blank">Skunk.fyi</a> is an open source application that can be used to share your <a href="https://github.com/fastruby/skunk" title="SkunkScore GitHub Page" target="_blank">SkunkScore</a> results and compare them to other applications out there.
      </p>

      <div id="getting-started" class="section__content">
        <h2>Getting Started</h2>
        <p>In order to share your results using this page, you can run `skunk` like this:</p>
        <pre><code>$ SHARE=true bundle exec skunk
running flay smells

running flog smells
.............
running reek smells
.............
running complexity
.............
running attributes
.............
running churn
.............
running simple_cov
.............
New critique at file:////Users/etagwerker/Projects/fastruby/skunk/tmp/rubycritic/overview.html
...

SkunkScore Total: 612.31
Modules Analysed: 13
SkunkScore Average: 0.47100769230769230769230769231e2
Worst SkunkScore: 166.44 (lib/skunk/cli/commands/default.rb)
Shared at: https://skunk.fastruby.io/1335ce1
</code></pre>
      </div>

      <div id="contributing" class="section__content">
        <h2>Contributing</h2>
        <p>Bug reports and pull requests are welcome on GitHub at <a href=https://github.com/fastruby/skunk
            title="https://github.com/fastruby/skunk" target="_blank">https://github.com/fastruby/skunk</a>. </p>

        <p>This
          project is intended to be a safe, welcoming space for collaboration, and contributors are expected to adhere
          to the <a href="https://github.com/fastruby/skunk.fyi/CODE_OF_CONDUCT.md" title="Contributor Covenant "
            target="_blank">Contributor Covenant </a> code of conduct.</p>
      </div>

      <div id="license" class="section__content">
        <h2>License</h2>
        <p>The gem is available as open source under the terms of the <a href=https://opensource.org/licenses/MIT
            title="MIT License" target="_blank">MIT License</a>.</p>
      </div>

      <div id="code-of-conduct" class="section__content">
        <h2>Code of Conduct</h2>
        <p>Everyone interacting in the Skunk.fyi project's codebases, issue trackers, chat rooms and mailing lists is
          expected to follow the <a href="https://github.com/fastruby/skunk.fyi/CODE_OF_CONDUCT.md" title="code of conduct"
            target="_blank">code of conduct</a>.</p>
      </div>

      <div id="code-of-conduct" class="section__content">
      <h2>Credits</h2>
      <p>This project is heavily inspired by <a href="https://github.com/evanphx/benchmark.fyi" title="benchmark.fyi"
      target="_blank">benchmark.fyi</a>. It is a fork of that project.</p>
      </div>

    </div>
  </section>