/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "fastruby-io-styleguide";

body.show-page {
  p, h2, h3 {
    text-align: left;
    letter-spacing: 0.1px;
  }
}

pre, pre code {
  background-color: black;
  color: white;
  text-align: left;
}

pre {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

header {
  position: relative;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table.results {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    line-height: 2em;
  }

  thead tr {
    color: white;
    background-color: $grey;
  }

  tr.odd {
    background-color: $lighter-grey;
  }

  th, td {
    padding-left: 1em;
    border: solid 0.1em;
    padding-right: 0.7em;
  }

  td {
    text-align: right;
  }

  td.file-cell, th {
    text-align: left;
  }
}
