<div class="report">
  <table class="results">
    <thead>
      <tr>
        <% AnalyzedModule::KEYS.each do |value| %>
          <th><%= value.humanize.titleize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @report.data.each do |part| %>
      <tr class="<%= cycle("odd", "even") %>">
        <% AnalyzedModule::KEYS.each do |value| %>
          <td class="<%= value %>-cell">
            <%= part[value] %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
