name: Skunk
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  skunk:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v1
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.3"

      - name: Install PostgreSQL 11 client
        run: |
          sudo apt-get -yqq install libpq-dev

      - name: Build App
        env:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          yarn install
          cp config/database.yml.github config/database.yml
          bin/rails db:setup
      - name: Run tests
        run: |
          COVERAGE=true bundle exec rake
      - name: Run Skunk on Project
        run: |
          gem install skunk
          git checkout Gemfile.lock
          CURRENT_BRANCH="$(git rev-parse --abbrev-ref HEAD)"
          if [[ "$CURRENT_BRANCH" != "main" ]]; then
            echo "Executing within branch: $CURRENT_BRANCH"
            skunk . -b main
          else
            echo "Executing within main branch"
            skunk .
          fi
