# .github/workflows/ci.yml

name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-rails-current:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v1
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.3"
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install PostgreSQL 11 client
        run: |
          sudo apt-get -yqq install libpq-dev

      - name: Build App
        env:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          yarn install
          cp config/database.yml.github config/database.yml
          bin/rails db:setup
          rails assets:precompile
      - name: Run tests
        run: |
          bundle exec rails test
  test-rails-next:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.6-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v1
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.3"
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install PostgreSQL 11 client
        run: |
          sudo apt-get -yqq install libpq-dev

      - name: Build App
        env:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
          BUNDLE_GEMFILE: Gemfile.next
        run: |
          gem install bundler
          bundle update rails --jobs 4 --retry 3
          yarn install
          cp config/database.yml.github config/database.yml
          bin/rails db:setup
          rails assets:precompile
      - name: Run tests
        env:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
          BUNDLE_GEMFILE: Gemfile.next
        run: |
          bundle exec rails test
